* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f3dfc1;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}
header .mod {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
header .new_article {
  position: absolute;
  top: 20px;
  left: 10px;
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}
header .new_article:hover {
  scale: 140%;
  rotate: 90deg;
}
header .panel_article {
  position: absolute;
  top: 20px;
  left: 10px;
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}
header .panel_article:hover {
  scale: 140%;
  rotate: -90deg;
}
.modal_container {
  position: absolute;
  top: 0;
  display: none;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background-color: #368f8bcf;
  transition: 0.5s ease;
}
.modal_container a {
  margin: 15px auto;
  text-decoration: none;
  font-size: 2rem;
  color: #f3dfc1;
}
.modal_container .close_mod {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form {
  display: flex;
  flex-direction: column;
}
.etat_co {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 1.2rem;
}
.etat_co i {
  margin-right: 5px;
}
/* Page D'acceuil */

main.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.index .middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  min-height: 350px;
  margin-top: 50px;
}
.alarm {
  position: absolute;
  top: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(145, 0, 0, 0.778);
  z-index: 222;
}
.alarm a {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  background-color: #5d0000;
}
.search {
  margin-top: 50px;
}
main.index .middle button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: transparent;
  border: none;
  font-size: 5rem;
  color: #368f8b;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
main.index .middle button:hover {
  scale: 115%;
}
.new-release {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s ease;
  scroll-behavior: smooth;
}
.new-release .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 70%;
  min-height: 325px;
  height: 80%;
  padding: 10px;
  background-color: #ffffff;
  color: black;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 15px;
  transition: 0.5s ease;
  text-align: center;
}
.new-release .article img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.new-release .article h3 {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  font-size: 125%;
}
.new-release .article hr {
  height: 1px;
  width: 80%;
  margin-top: 5px;
  background-color: black;
}
.new-release .article p {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  font-size: 125%;
}
.new-release .article .likearticle{
  margin-top: 15px;
  text-align: start;
}
.new-release .article .author {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  text-align: start;
  font-size: 125%;
}
.new-release .article a {
  height: fit-content;
  width: fit-content;
  padding: 3px 7px;
  text-decoration: none;
  color: black;
  font-size: 125%;
  border: 1px solid #368F8B;
  text-align: end;
  margin-left: auto;
  transition: 0.5s ease-in;
}
.new-release .article a:hover {
  background-color: #368F8B;
  color: white;
}
.top-topics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s ease;
  scroll-behavior: smooth;
}
.top-topics .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 70%;
  min-height: 325px;
  height: 80%;
  padding: 10px;
  background-color: #ffffff;
  color: black;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 15px;
}
.top-topics .article img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.top-topics .article h3 {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  font-size: 125%;
}
.top-topics .article hr {
  height: 1px;
  width: 80%;
  margin-top: 5px;
  background-color: black;
}
.top-topics .article p {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  font-size: 125%;
}
.top-topics .article .likearticle{
  margin-top: 15px;
  text-align: start;
}
.top-topics .article .author {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  text-align: start;
  font-size: 125%;
}
.top-topics .article a {
  height: fit-content;
  width: fit-content;
  padding: 3px 7px;
  text-decoration: none;
  color: black;
  font-size: 125%;
  border: 1px solid #368F8B;
  text-align: end;
  margin-left: auto;
  transition: 0.5s ease-in;
}
.top-topics .article a:hover {
  background-color: #368F8B;
  color: white;
}
/* Page Profile */

.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
